<!DOCTYPE html>
<html>

<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "/assets/bootstrap.css", media: "screen" %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
</head>

<!DOCTYPE html>
<html>
	<body>

	  <section id="container">
			<header class="clearfix">
			<div>
				<h1>Флэшкарточкер</h1>
			</div>
				<ul class="nav navbar-nav">
					<li><a href="#">Все карточки</a></li>
					<li><a href="#">Добавить карточку</a></li>
	      </ul>
	    </header>
	    <section>
	      <%= yield %>
	    </section>

	  </section>
	</body>
</html>
